@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.html{
    background-color: rgb(41,42,45);
    color:white;
}
.container{
    display:flex;
    flex-direction:column;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height:150px;
    width: max-width;
    background-color: rgb(200, 1, 80);
    margin-bottom:10px;
    color: white;
    font-family: 'BMDOHYEON';
    font-size:50px;
}
.midbox{
    display:flex;
    border-top:8px solid rgb(20,20,20);
    overflow:auto;

}
.footer{
    border-top:8px solid rgb(20,20,20);
    height:20px;
    font-size: 12px;
    color:gray;
    text-align:center;
}
menu{
    display:flex;
    flex-direction: column;
    padding:10px;
    text-align:center;
    border-right:3px solid rgb(20,20,20);
    float:none;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width:120px;
    height:40px;
    background-color:rgb(200, 1, 80);
    border:1px solid black;
    color:white;
    font-family: 'Nanum Gothic';
    font-size:15px;
    font-weight:lighter;
    margin-top: 3px;
}
board{
    display:flex;
    flex-direction:column;
    width:max-content;
    justify-content: center;
    align-items:center !important;
    margin: 0 auto;
}
.loginform label{
    display:flex;
    flex-direction:row;
    align-items:center;
    align-content: center;
    justify-content: center;
    width:max-content;
    height:40px;
    margin:10px;
    font-family: 'Nanum Gothic';
    font-size:20px;
    font-weight:bolder;
}
.title{
    font-size: 35px;
    text-align: center;
    font-family: 'Nanum Gothic';
    font-weight:bolder;
    margin-bottom:30px;
}
.loginform{
    display:flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    justify-content:center;
}
input[type="submit"] {
    height: 50px;
    background: beige;
    border-radius: 5px;
    border:none;
    font-family:'Nanum Gothic';
    font-size:20px;
    color:black;
    font-weight:bolder;
    margin:10px;
}
.orderbox ul input[type="submit"] {
    height: 60px;
    background: beige;
    border-radius: 5px;
    border:none;
    font-family:'Nanum Gothic';
    font-size:20px;
    color:black;
    font-weight:bolder;
    margin:10px;
}
input{
    height:40px;
}
input[type="button"] {
    height: 30px;
    background: gray;
    border-radius: 5px;
    border:none;
    /* width: 140px; */
    font-family: 'Nanum Gothic';
    color:white;
    margin-top:10px;
}
.title2{
    font-size: 30px;
    text-align: center;
    font-family: 'Nanum Gothic';
    font-weight:bolder;
    margin-bottom:30px;
}
.orderbox{
    display:flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    justify-content:center;
    font-family: 'Nanum Gothic';
    font-size:15px;
    width:50%;
}